%h1 Listing gx_classes

%table
  %tr
    %th
    %th
    %th

  - @gx_classes.each do |gx_class|
    %tr
      %td= link_to 'Show', gx_class
      %td= link_to 'Edit', edit_gx_class_path(gx_class)
      %td= link_to 'Destroy', gx_class, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gx class', new_gx_class_path
