- content_for :title, "Listing Classes"

= link_to('New Gx class', new_gx_class_path) if current_user.try(:admin?)

%ul
  - @gx_classes.each do |gx_class|
    = render 'listitem', gx_class: gx_class

= link_to('New Gx class', new_gx_class_path) if current_user.try(:admin?)
